
<div class="container">
    <h1>Our grannies</h1>

    <div class="grannies">

      <% @grannies.each do |granny| %>
        <div class="card-granny">
          <div class="top-card-granny">
            <div class="name-granny"><%= granny.name %></div>
            <div class="categories">Couture</div>
          </div>
          <div class="presentation"><%= granny.presentation %></div>
        </div>
      <% end %>
    </div>

</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
