
<div class="container">
    <h1>Our grannies</h1>

    <div class="grannies">

      <% @grannies.each do |granny| %>
        <div class="card-granny">
          <div class="top-card-granny">
            <div class="name-granny"><%= granny.name %></div>
            <div class="categories">Couture</div>
          </div>
          <div class="presentation"><%= granny.presentation %></div>
        </div>
      <% end %>
    </div>

</div>
