<div class="container">
  <div class="title-show">
      <span class="back-button">
      <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left" style="color: #1c1717;"></i>
      <% end %>
      </span>
      <h2 class="titles">Ajouter une granny</h2>
    </div>

  <%= render "form" %>
</div>
