<% if current_user == @user %>
  <%= @user.name %>
  <ul>
    <% @user.reservations.each do |reservation| %>
      <li>
        <p>
          Date: <%= reservation.date %> - Categorie: <%= reservation.category_booked %> - Mamie: <%= reservation.granny.name %>
        </p>
      </li>
  </ul>
<% else %>
  <p>You do not have access</p>
<% end %>
