.discover {
  border-radius: 5px;
  border: 0;
  padding: 12px;
  background-color: #FFCACC;
  color: rgba(0, 0, 0, 0.491);
  font-family: 'Roboto', cursive;
  font-size: 26px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  top: 40px; left: 560px;
  text-decoration: none;
}
