.discover {
  border-radius: 5px;
  padding: 12px;
  background-color: #FFCACC;
  color: rgba(0, 0, 0, 0.491);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  text-align: center;
  width: 300px;
}

.button-form {
  border-radius: 5px;
  border: 0;
  padding: 12px;
  background-color: #FFCACC;
  color: rgba(0, 0, 0, 0.491);
  font-family: 'Roboto', cursive;
  font-size: 2Opx;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.back-button {
  border-radius: 15px;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 8px;
  background-color: #FFCACC;
  color: rgba(0, 0, 0, 0.491);
  font-size: 26px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 12px;
}
