.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 42px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.desc {
  height: 240px;
  color: rgba(0, 0, 0, 0.491);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
}

.show-card {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.main-card-granny {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 40px;
  padding: 30px;
  background-color: #DBC4F0;
  font-size: 16px;
}

.card-from-res {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 40px;
  padding: 30px;
  background-color: #E1D2F2;
}

.profile-card {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.profile-card-granny {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 40px;
  padding: 30px;
  margin: 2%;
  background-color: #DBC4F0;
  font-size: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
