.name-granny {
  color: #FFFF ;
  justify-content: center;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.name-granny-profile {
  color: #FFFF ;
  justify-content: center;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Courgette', cursive;
}

.titles {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  font-family: 'Courgette', cursive;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}
